@define-color bg            #1B1B21; 
@define-color bg-alt        #25252B; 
@define-color gray          #6b6d7d;
@define-color fg            #E4E1E9;

@define-color red           #e06c75;
@define-color orange        #d19a66;
@define-color yellow        #e5c07b;
@define-color green         #98c379;
@define-color cyan          #56b6c2;
@define-color blue          #61afef;
@define-color purple        #c678dd;

@define-color arch-blue     #1793d1;
@define-color selection     #3D4279;
@define-color highlight     #46464F;

* {
    font-family: "Rubik", "Google Sans Code NF";
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
    padding-top: 3px;
}

#custom-fuzzel {
    font-size: 14px;
    color: @arch-blue;
    padding: 0 10px 0 5px;
    text-shadow: 0 0 8px rgba(190, 194, 255, 0.5);
}

#custom-date,
#network,
#battery,
#cpu,
#memory,
#tray,
#pulseaudio,
#custom-nightmode,
#mpris,
#clock {
    color: @fg;
    padding: 0 8px;
    margin: 0 2px;
}

.modules-center {
    background: @bg;
    padding: 2px 8px;
    border-radius: 20px;
    margin-bottom: 5px;
		border: 1px solid rgba(190, 194, 255, 0.1); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces {
    background: transparent;
    border: none;
    margin: 0 5px;
    padding: 0;
}

#workspaces button {
    margin: 3px 3px;
    padding: 0 8px;
    border-radius: 999px;
    min-width: 10px;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

#workspaces button.active {
    background: linear-gradient(15deg, @blue, @purple);
    color: @bg;
    padding: 0 15px;      
    min-width: 45px;      
    border-radius: 999px;
    border: none;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.05);
    color: @fg;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg;
}

#mpris {
    color: @cyan;
    font-family: "Rubik Medium";
    font-weight: normal;
    font-size: 14px;
    padding-left: 10px;
    margin-right: 0px;
}

#clock {
    font-size: 13px;
    margin-right: 0;
    padding-right: 0;
}

#custom-power {
    font-size: 14px;
    color: @red;
    margin-left: 7px;
    margin-right: 3px;
}

#battery         { color: @green; }
#battery.warning { color: @orange; background: transparent; }
#battery.critical { color: @red; background: transparent; }

#custom-nightmode {
    font-size: 15px;
    color: @yellow;
    text-shadow: 0 0 8px rgba(231, 185, 213, 0.4);
    padding: 0 10px;
}

#pulseaudio { 
    font-size: 15px;
    color: @purple; 
}

#network    {
    font-size: 16px;
    color: @blue; 
}

tooltip {
    background: @bg-alt;
    border: 1px solid rgba(190, 194, 255, 0.2);
    border-radius: 10px;
}

tooltip label {
    color: @fg;
    padding: 8px;
}

@keyframes blink {
    to {
        color: @bg;
        background-color: @red;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
