* {
    padding: 0px;
    margin: -1px;
  }

* {
    border: none;
    border-radius: 0;
    /* font-family: "TX\-02"; */
    font-family: "BlexMono Nerd Font Propo";
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    min-height: 0;
}

window#waybar>box {
    padding-left:24px;
    padding-right:19px;
    margin-left: 10px;
}

window#waybar {
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces {
  transition: all 250ms ease-in-out;
  background-color: #1d2021;
  border-radius: 50px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button {
  margin-left: 1px;
  margin-right: 1px;
}

#custom-clock {
  padding: 5px;
  border-radius: 20px;
  background: transparent;
  background-color: #1d2021;
}

#custom-date {
  margin-right: 4px;
  border-radius: 20px;
  padding-right: 2px;
  padding-left: 5px;
  background: transparent;
  background-color: #1d2021;
}

#battery {
  border-radius: 20px;
  background: transparent;
  background-color: #1d2021;
  margin-right: 5px;
  padding-left: 8px;
}

#window {
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#cpu {
  border-radius: 20px;
  background: transparent;
  background-color: #1d2021;
  padding-left: 6px;
}

#memory {
  border-radius: 20px;
  background: transparent;
  background-color: #1d2021;
  margin-left: 2px;
  margin-right: 10px;
  padding-left: 9px;
}
