* {
    padding: 0px;
    margin: -1px;
  }
* {
    border: none;
    border-radius: 0;
    /* font-family: "TX\-02"; */
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 11px;
    font-weight: bold;
    color: #ebdbb2; /* Gruvbox soft white */
    min-height: 0;
}
window#waybar>box {
    padding-left:24px;
    padding-right:19px;
    margin-left: 10px;
}
window#waybar {
    background: transparent;
}
tooltip {
  background: #32302f; /* Neutral gray-black */
  border: 1px solid #504945;
}
tooltip label {
  color: #ebdbb2;
}
#workspaces {
  transition: all 250ms ease-in-out;
  background-color: #32302f; /* Neutral gray-black */
  border-radius: 50px;
  padding-right: 5px;
  padding-left: 5px;
}
#workspaces button {
  margin-left: 1px;
  margin-right: 1px;
  color: #ebdbb2;
}
#workspaces button.active {
  color: #ebdbb2;
}
#workspaces button.urgent {
  color: #ebdbb2;
}
#custom-clock {
  padding: 5px;
  border-radius: 20px;
  background: transparent;
  background-color: #32302f;
  color: #ebdbb2;
}
#custom-date {
  margin-right: 4px;
  border-radius: 20px;
  padding-right: 2px;
  padding-left: 5px;
  background: transparent;
  background-color: #32302f;
  color: #ebdbb2;
}
#battery {
  border-radius: 20px;
  background: transparent;
  background-color: #32302f;
  margin-right: 5px;
  padding-left: 8px;
  color: #ebdbb2;
}
#battery.warning {
  color: #ebdbb2;
}
#battery.critical {
  color: #ebdbb2;
}
#window {
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ebdbb2;
}
#cpu {
  border-radius: 20px;
  background: transparent;
  background-color: #32302f;
  padding-left: 6px;
  color: #ebdbb2;
}
#memory {
  border-radius: 20px;
  background: transparent;
  background-color: #32302f;
  margin-left: 2px;
  margin-right: 10px;
  padding-left: 9px;
  color: #ebdbb2;
}
