* {
    border: none;
    border-radius: 0;
    font-family: "TX\-02";
    font-size: 15px;
    color: #ffffff;
    min-height: 0;
}

window#waybar>box {
    padding-left:24px;
    padding-right:19px;
    margin-left: 10px;
}

window#waybar {
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

/* #workspaces { */
/*   transition: all 250ms ease-in-out; */
/* } */

#workspaces button {
    padding: 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

/* #workspaces button.active { */
/*   min-width: 40px; */
/* } */


#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent;
}

#battery.charging {
    background-color: transparent;
}

#window {
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
