* {
	padding: 0px;
	margin: 0px;
  }
* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono Nerd Font Propo";
	font-size: 11px;
	font-weight: bold;
	color: #3c3836;
	min-height: 0;
}
window#waybar>box {
	padding-left:24px;
	padding-right:19px;
	margin-left: 10px;
	background-color: transparent;
}
window#waybar {
	background-color: transparent;
}
tooltip {
  background: #ebdbb2;
  border: 1px solid #bdae93;
}
tooltip label {
  color: #3c3836;
}
#workspaces {
  transition: all 250ms ease-in-out;
  background-color: #ebdbb2;
  border-radius: 50px;
}
#workspaces button {
  margin-left: 1px;
  margin-right: 1px;
  color: #3c3836;
}
#workspaces button.active {
  color: #3c3836;
}
#workspaces button.urgent {
  color: #3c3836;
}
#custom-clock {
  padding: 5px;
  border-radius: 20px;
  background: transparent;
  background-color: #ebdbb2;
  color: #3c3836;
}
#custom-date {
  margin-right: 4px;
  border-radius: 20px;
  padding-right: 2px;
  padding-left: 5px;
  background: transparent;
  background-color: #ebdbb2;
  color: #3c3836;
}
#custom-fuzzel {
  margin-right: 4px;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background: transparent;
  background-color: #ebdbb2;
  color: #3c3836;
}
#custom-power {
  margin-right: 4px;
  margin-left: 3px;
  border-radius: 20px;
  padding-right: 3px;
  padding-left: 10px;
  background: transparent;
  background-color: #ebdbb2;
  color: #3c3836;
}
#battery {
  border-radius: 20px;
  background: transparent;
  background-color: #ebdbb2;
  margin-right: 5px;
  padding-left: 8px;
  color: #3c3836;
}
#battery.warning {
  color: #3c3836;
}
#battery.critical {
  color: #3c3836;
}
#window {
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  color: #3c3836;
}
#cpu {
  border-radius: 20px;
  margin-right: 3px;
  background: transparent;
  background-color: #ebdbb2;
  padding-left: 6px;
  color: #3c3836;
}
#memory {
  border-radius: 20px;
  background: transparent;
  background-color: #ebdbb2;
  padding-left: 9px;
  color: #3c3836;
}
menu {
  background: #ebdbb2;
  border: 1px solid #bdae93;
}

menu menuitem {
  color: #3c3836;
  padding: 5px 10px;
}

menu menuitem:hover {
  background: #d5c4a1; 
  color: #282828;
}

menu menuitem:disabled {
  color: #928374;
}
