/* hell yeah rose pine */
@define-color base           #191724;
@define-color surface        #1f1d2e;
@define-color overlay        #26233a;

@define-color muted          #6e6a86;
@define-color subtle         #908caa;
@define-color text           #e0def4;

@define-color love           #eb6f92;
@define-color gold           #f6c177;
@define-color rose           #ebbcba;
@define-color pine           #31748f;
@define-color foam           #9ccfd8;
@define-color iris           #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

* {
    padding: 0px;
    margin: 0px;
    border: 0;
    border-radius: 0;
    font-family: "ComicShannsMono Nerd Font Propo";
    font-size: 12px;
    font-weight: bold;
    color: @text;
    min-height: 0; 
}

window#waybar {
    background-color: transparent; 
}

window#waybar > box {
    padding: 2px 10px; 
    background-color: transparent;
}

tooltip {
    background: @base;
    border: 1px solid @highlightMed;
    border-radius: 10px;
}

tooltip label {
    color: @text;
		border-radius: 10px;
}

#workspaces {
    transition: all 250ms ease-in-out;
    background-color: @base; 
    border-radius: 50px;
    padding: 2px 8px; 
		color: @subtle;
}

#workspaces button {
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px 2px; 
    color: @subtle;
}

#workspaces button.active {
    color: @text;
}

#workspaces button.urgent {
    color: @love;
}

#workspaces button:hover {
    color: @text;
    background: @highlightMed;
    border-radius: 50px;
}

#custom-clock,
#custom-date,
#custom-fuzzel,
#custom-power,
#battery,
#cpu,
#memory,
#tray,
#pulseaudio,
#custom-nightmode,
#mpris {
    background-color: @base;
    color: @text;
    border-radius: 10px;
    padding: 2px 10px; 
    margin-top: 2px;   
    margin-bottom: 2px;
}

#tray {
    margin-right: 4px;
}


#pulseaudio {
    margin-left: 4px;
    color: @text;
}

#custom-nightmode {
    padding: 0 10px;
    margin: 0 4px;
    color: @text;
    transition: all 0.3s ease;
}

/* #custom-nightmode:hover { */
/*     background-color: @highlightLow; */
/* } */

#mpris {
    color: @text;
    margin-left: 4px;
    /* max-width: 200px;  */
}

#mpris.paused {
    color: @muted;
    font-style: italic;
}

#custom-date {
    margin-right: 4px;
    padding-right: 7px;
    color: @text;
}

#custom-clock {
    color: @text;
}

#custom-fuzzel {
    margin-right: 4px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: @text;
}

#custom-power {
    margin-left: 4px;
    margin-right: 15px;
    padding-right: 2px;
    color: @text;
}

#battery {
    margin-right: 5px;
    padding-left: 8px;
    padding-right: 7px;
    color: @text;
}

#battery.warning {
    color: @gold;
}

#battery.critical {
    color: @love;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    margin-right: 3px;
    color: @text;
    padding-right: 7px;
}

#memory {
    padding-left: 9px;
    padding-right: 7px; 
    color: @text;
}

#window {
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: @text; 
}

menu {
    background: @base;
    border: 1px solid @highlightMed;
    border-radius: 10px;
}

menu menuitem {
    color: @text;
    padding: 5px 10px;
		border-radius: 10px;
}

menu menuitem:hover {
    background: @highlightMed; 
    color: @text;
		border-radius: 10px;
}

@keyframes blink {
    to {
        color: @text;
    }
}
